### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
# Archivos compilados de Java
*.class

# Salidas y carpetas de compilación
/out/

# Configuraciones de IntelliJ IDEA
.idea/
*.iml

# Sistema operativo
.DS_Store
Thumbs.db
